[Unit]
Description=KStars Location Writer for PiFinder
After=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/touch /tmp/kstars_location.txt
ExecStartPre=/bin/chmod 664 /tmp/kstars_location.txt
ExecStart=/usr/bin/python3 /home/stellarmate/PiFinder_Stellarmate/bin/kstars_location_writer.py
Restart=always
RestartSec=5
User=stellarmate
Group=stellarmate
Nice=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target