[Unit]
Description=KStars Location Writer for PiFinder
After=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/touch /tmp/kstars_location.txt
ExecStartPre=/bin/chmod 664 /tmp/kstars_location.txt
ExecStart=__PYTHON_EXEC__ __PIFINDER_STELLARMATE_DIR__/bin/kstars_location_writer.py
Restart=always
RestartSec=5
User=__PIFINDER_USER__
Group=__PIFINDER_USER__
Nice=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target