[Unit]
Description=PiFinderSplash

[Service]
WorkingDirectory=/home/__PIFINDER_USER__/PiFinder/python
ExecStart=__PYTHON_EXEC__ -m PiFinder.splash

[Install]
WantedBy=basic.target
