#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PiFinder Setup
Comment=Install or update PiFinder with live status
Exec=/home/stellarmate/PiFinder_Stellarmate/gui_installer/launch_setup_gui.sh
Icon=/home/stellarmate/PiFinder_Stellarmate/docs/images/readme/PiFinder.jpg
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
