[Unit]
Description=KStars Location Writer for PiFinder
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pifinder/PiFinder_Stellarmate/bin/kstars_location_writer.py
Restart=always
RestartSec=5
User=pifinder
Nice=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
