[Unit]
Description=PiFinderSplash

[Service]
WorkingDirectory=/home/root/PiFinder/python
ExecStart=/home/stellarmate/PiFinder/python/.venv/bin/python -m PiFinder.splash

[Install]
WantedBy=basic.target
