[Unit]
Description=PiFinder
After=basic.target

[Service]
Type=idle
User=stellarmate
WorkingDirectory=/home/stellarmate/PiFinder/python
ExecStart=/home/stellarmate/PiFinder/python/.venv/bin/python -m PiFinder.main --verbose
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=basic.target
