{% extends "base.html" %}

{% block content %}
<div class="row valign-wrapper" style="margin: 0px;">
  <div class="col s12">
    <h5 class="grey-text">{{ _('First Steps') }}</h5>
    <p class="grey-text text-lighten-1">{{ _('Two things to do after a fresh install or a reboot:') }}</p>
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <span class="card-title grey-text">1. {{ _('Configure PiFinder') }}</span>
    <p class="grey-text text-lighten-1">
      {{ _('Set your location (if not using GPS), add your telescope/eyepiece equipment, and check the software version.') }}
    </p>
  </div>
  <div class="card-action">
    <a href="/locations">{{ _('Locations') }}</a>
    <a href="/equipment">{{ _('Equipment') }}</a>
    <a href="/">{{ _('Home') }}</a>
  </div>
</div>

<div class="card grey darken-2">
  <div class="card-content">
    <span class="card-title grey-text">2. {{ _('Set up the StellarMate Web Manager') }}</span>
    <p class="grey-text text-lighten-1">
      {{ _('This is where the INDI drivers (PiFinder LX200, and the optional Mount Bridge if you have a motorized mount) get added to an Equipment Profile and started.') }}
    </p>
    <ol class="grey-text text-lighten-1">
      <li>{{ _('Open the Web Manager (link below), create or select an Equipment Profile.') }}</li>
      <li>{{ _('Under Telescopes, add "PiFinder LX200" (and "PiFinder Mount Bridge" if you have a motorized mount).') }}</li>
      <li>{{ _('Click Start.') }}</li>
    </ol>
    <p class="grey-text text-lighten-1">
      {{ _('Full walkthrough with screenshots (Web Manager profile, INDI Control Panel, KStars/Ekos, SkySafari):') }}
      <a href="https://github.com/apos/PiFinder_Stellarmate/blob/main/Readme_PiFinder_LX200.md" target="_blank" rel="noopener">Readme_PiFinder_LX200.md</a>
    </p>
  </div>
  <div class="card-action">
    {% for ip in ips %}
    <a href="http://{{ ip }}:8624" target="_blank" rel="noopener">{{ _('Web Manager') }} ({{ ip }})</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
