{% extends "base.html" %}

{% block content %}
<div class="row valign-wrapper" style="margin: 0px;">
  <div class="col s12">
    <h5 class="grey-text">{{ _('First Steps') }}</h5>
    <p class="grey-text text-lighten-1">{{ _('Two things to do after a fresh install or a reboot:') }}</p>
  </div>
</div>

<style>
  .first-steps-links { list-style: none; padding: 0; margin: 0.5rem 0; }
  .first-steps-links li { padding: 0.1rem 0; }
  .first-steps-links a { color: #7ec8ff; }
</style>

<div class="row">
  <div class="col s12 m6">
    <div class="card grey darken-2">
      <div class="card-content">
        <span class="card-title grey-text">1. {{ _('Access PiFinder Remotely') }}</span>
        <p class="grey-text text-lighten-1">
          {{ _('PiFinder is reachable on your network. Open the Remote page to control PiFinder from a browser (default password:') }} <code>smate</code>).
        </p>
        <ul class="first-steps-links">
          {% for ip in ips %}
          <li><a href="http://{{ ip }}:{{ port }}/remote" target="_blank" rel="noopener">{{ ip }}{% if port != 80 %}:{{ port }}{% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card grey darken-2">
      <div class="card-content">
        <span class="card-title grey-text">2. {{ _('Set up the StellarMate Web Manager') }}</span>
        <img src="/images/webmanager_profile.png"
             alt="{{ _('StellarMate Web Manager profile with the PiFinder LX200 and PiFinder Mount Bridge drivers running') }}"
             style="width:100%; border-radius:4px; margin: 0.5rem 0;">
        <p class="grey-text text-lighten-1">
          {{ _('Open the Web Manager (links below), create or select an Equipment Profile. Under Telescopes, add "PiFinder LX200" (and "PiFinder Mount Bridge" if you have a motorized mount), then click Start.') }}
        </p>
        <ul class="first-steps-links">
          {% for ip in ips %}
          <li><a href="http://{{ ip }}:8624" target="_blank" rel="noopener">{{ ip }}:8624</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
